@page
@model ChoosenCareHome.Pages.Services.ClientCareModel
@{
}
<section class="section position-relative" style="background-image: url(../img/bg123.jpg);">
    <div class="r-container">
        <div class="image-overlay"></div>
        <div class="position-relative" style="z-index: 2;">
            <h1 class="font-1 fw-bold text-white">Client Care</h1>
            <h4 style="color:white;">Caring with Compassion, Respect and Dignity</h4>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item fw-bold"><a asp-page="/Index">Home</a></li>
                    <li class="breadcrumb-item fw-bold active" aria-current="page">Client Care</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<section class="section">
    <div class="r-container">
        <div class="d-flex flex-lg-row flex-column-reverse gap-3">
             <div class="col col-lg-12">
                 <div class="d-flex flex-column gap-3">
                     <img src="~/img/cc1.jpg" alt="" class="img-fluid">
                     <p>
                         At Chosen Healthcare, our commitment to putting our clients first is at the core of everything we do. We understand that each individual is unique, with their own set of needs, preferences, and circumstances. That's why our client-centered approach is the foundation of our care philosophy. From the moment you reach out to us for assistance, you can trust that your well-being is our top priority. Our dedicated team takes the time to listen and understand your concerns, preferences, and goals, ensuring that every aspect of your care plan is tailored to meet your specific needs.
                     </p>
                     <br />
                     <p>
                         From the initial consultation onwards, we work closely with you and your family to develop a comprehensive care plan that addresses all aspects of your health and well-being. Whether you require assistance with daily activities, specialized medical care, or emotional support, we are here to provide the compassionate care and support you need to thrive. We believe in fostering open communication and collaboration with our clients and their families, empowering them to take an active role in their care journey and make informed decisions about their health and well-being.

                     </p>
                     <br />
                     <p>
                         Our client-centered approach extends beyond just meeting basic needs; it's about building trusting relationships based on compassion, respect, and dignity. We recognize the importance of preserving your autonomy and independence while providing the support and assistance you need to live life to the fullest. At Chosen Healthcare, we are committed to ensuring that every individual we serve feels valued, respected, and empowered to live their best life. With us, you can trust that your unique needs will always be carefully considered and prioritized, allowing you to receive the personalized care and support you deserve.
                     </p>
                 </div>
            </div>
        </div>
    </div>
</section>