@page
@model ChoosenCareHome.Pages.Services.DailyHomeCareModel
@{
}
<section class="section position-relative" style="background-image: url(../img/bg123.jpg);">
    <div class="r-container">
        <div class="image-overlay"></div>
        <div class="position-relative" style="z-index: 2;">
            <h1 class="font-1 fw-bold text-white">Daily Home Care</h1>
            <h4 style="color:white;">Caring with Compassion, Respect and Dignity</h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item fw-bold"><a asp-page="/Index">Home</a></li>
                    <li class="breadcrumb-item fw-bold active" aria-current="page">Daily Home Care</li>
                </ol>
            </nav>
        </div>
    </div>
</section>


<section class="section">
    <div class="r-container">
        <div class="d-flex flex-lg-row flex-column-reverse gap-3">
            <div class="col col-lg-12">
                <div class="d-flex flex-column gap-3">
                    <img src="~/img/cc2.jpg" alt="" class="img-fluid">
                    <p>
                        Our daily home care services at Chosen Healthcare are designed to provide comprehensive support and assistance tailored to your individual needs. We understand that maintaining independence and well-being is essential for our clients, which is why our caregivers are dedicated to ensuring that you can continue to live comfortably and confidently in your own home. Whether you require assistance with personal care tasks such as grooming and dressing, or support with household chores like meal preparation and light housekeeping, our caregivers are here to help.

                    </p>
                    <br />
                    <p>
                        Our caregivers undergo thorough training to ensure they have the skills and expertise needed to provide high-quality care with compassion and professionalism. They approach each day with a focus on promoting your independence and enhancing your quality of life. Beyond just assisting with daily activities, our caregivers also provide companionship and emotional support, creating a nurturing environment where you feel valued and supported.

                    </p>
                    <br />
                    <p>
                        At Chosen Healthcare, we recognize the importance of maintaining a sense of normalcy and routine in your daily life. Our daily home care services are designed to fit seamlessly into your existing schedule and preferences, allowing you to maintain control over your daily activities while receiving the support you need. With our compassionate caregivers by your side, you can rest assured that you'll receive the personalized care and attention you deserve, helping you to live your best life at home.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>