@page
@model ChoosenCareHome.Pages.Services.HospitalHomeCareModel
@{
}
<section class="section position-relative" style="background-image: url(../img/bg123.jpg);">
    <div class="r-container">
        <div class="image-overlay"></div>
        <div class="position-relative" style="z-index: 2;">
            <h1 class="font-1 fw-bold text-white">Hospital Home Care</h1>
            <h4 style="color:white;">Caring with Compassion, Respect and Dignity</h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item fw-bold"><a asp-page="/Index">Home</a></li>
                    <li class="breadcrumb-item fw-bold active" aria-current="page">Hospital Home Care</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<section class="section">
    <div class="r-container">
        <div class="d-flex flex-lg-row flex-column-reverse gap-3">
            <div class="col col-lg-12">
                <div class="d-flex flex-column gap-3">
                    <img src="~/img/cc3.jpg" class="img-fluid">
                    <p>
                        Transitioning from hospital to home can be a daunting process, but at Chosen Healthcare, we understand the importance of a smooth transition for our clients. Our hospital to home care services are specifically tailored to ensure continuity of care and support during this critical period of recovery. We recognize that leaving the hospital setting can bring about new challenges and uncertainties, which is why our team is dedicated to providing the assistance and resources needed to ease the transition and promote a successful recovery at home.
                    </p>
                    <br />
                    <p>
                        Our hospital to home care services begin with thorough coordination with healthcare providers to ensure a seamless transfer of care. We work closely with hospital discharge planners and medical professionals to gather important information about your condition, treatment plan, and ongoing care needs. From there, our team of experienced caregivers steps in to provide personalized care and support in the comfort of your own home. Whether you require assistance with medication management, wound care, mobility support, or other medical needs, our caregivers are trained to provide the specialized care you need to regain your strength and independence.
                    </p>
                    <br />
                    <p>
                        At Chosen Healthcare, we understand that each individual's journey from hospital to home is unique, which is why our hospital to home care services are tailored to meet your specific needs and preferences. We strive to create a supportive environment where you can focus on your recovery with confidence, knowing that you have a dedicated team of professionals by your side every step of the way. With our compassionate care and personalized support, we're here to help you get back on your feet and on the path to a successful recovery at home.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>