@page
@model ChoosenCareHome.Pages.Services.HourlyHomeCareModel
@{
}
<section class="section position-relative" style="background-image: url(../img/bg123.jpg);">
    <div class="r-container">
        <div class="image-overlay"></div>
        <div class="position-relative" style="z-index: 2;">
            <h1 class="font-1 fw-bold text-white">Hourly Home Care</h1>
            <h4 style="color:white;">Caring with Compassion, Respect and Dignity</h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item fw-bold"><a asp-page="/Index">Home</a></li>
                    <li class="breadcrumb-item fw-bold active" aria-current="page">Hourly Home Care</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<section class="section">
    <div class="r-container">
        <div class="d-flex flex-lg-row flex-column-reverse gap-3">
            <div class="col col-lg-12">
                <div class="d-flex flex-column gap-3">
                    <img src="~/img/cc4.jpg" alt="" class="img-fluid">
                    <p>
                        At Chosen Healthcare, our hourly home care services are crafted with flexibility and individualized support in mind. We understand that each person's needs vary, and our goal is to provide assistance tailored to your specific requirements while allowing you to maintain your independence and dignity. With our hourly home care services, you have the freedom to receive support as needed, on your own schedule. Whether it's assistance with personal care tasks such as bathing, dressing, and grooming, or help with medication management or household chores, our caregivers are here to lend a helping hand whenever you need it.
                    </p>
                    <br />
                    <p>
                        Our caregivers at Chosen Healthcare are not only highly trained professionals but also compassionate individuals who are dedicated to ensuring your comfort and well-being. They approach each interaction with empathy and respect, understanding the importance of maintaining your autonomy and dignity while providing the support you require. Whether you need assistance for just a few hours a day or on a more regular basis, our caregivers are here to provide the personalized care and attention you deserve.

                    </p>
                    <br />
                    <p>
                        With Chosen Healthcare, you can trust that our hourly home care services are designed with your best interests in mind. We believe in empowering you to live life on your own terms, with the support you need to maintain your independence and quality of life. Our flexible approach to care ensures that you receive the assistance you require while allowing you to maintain control over your daily activities and routines. With our caregivers by your side, you can feel confident knowing that you have the support you need to thrive in the comfort of your own home.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>