@page
@model ChoosenCareHome.Pages.AboutModel
@{
}
<section class="section position-relative" style="background-image: url(img/bg123.jpg);">
    <div class="r-container">
        <div class="image-overlay"></div>
        <div class="position-relative" style="z-index: 2;">
            <h1 class="font-1 fw-bold text-white">About Us</h1>
            <h4 style="color:white;">Caring with Compassion, Respect and Dignity</h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item fw-bold"><a asp-page="/Index">Home</a></li>
                    <li class="breadcrumb-item fw-bold active" aria-current="page">About Us</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<section class="section">
    <div class="r-container">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col mb-3 pe-lg-3 position-relative">
                <div class="overlay right"></div>
                <div class="position-relative pe-5">
                    <img src="~/ui/image-600x700-1.jpg" alt="" class="img-fluid" style="z-index: -2;">
                    <div class="position-absolute bottom-0 start-0 ms-4 mb-4">
                        <!-- Button trigger modal -->


                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="d-flex flex-column gap-3 p-3">
                    <h3 class="text-black font-1 lh-1 fw-semibold">
                        Welcome to Chosen Healthcare!
                    </h3>
                    <p class="text-gray">
                        Chosen Healthcare Ltd is a premium domiciliary care agency that offers home care services to young children, adults, and older people. We also provide care and support for people with physical disabilities, learning disabilities and autism, sensory impairment, dementia, and mental health in Hertfordshire, Bedfordshire, and surrounding boroughs.
                    </p>
                    <p class="text-gray">
                        Our sole aim is to continue to provide high-quality service which will help to facilitate our clients in remaining in their own homes with dignity and respect, independence and in control of their life. Regardless of the level of care and support needed, Chosen Healthcare’s qualified, skilled, and experienced team are available to provide quality and safe care 24/7.
                    </p>
                    <p class="text-gray">
                        We extend a warm welcome to you and your loved ones, inviting you to explore the comprehensive range of services and support we offer to help you achieve optimal health and well-being. As you navigate through our site, you'll discover a wealth of information tailored to meet your needs, including:
                    </p>

                    <div class="my-4 border-bottom w-100"></div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light">
    <div class="r-container">
        <div class="d-flex flex-column gap-3 justify-content-center text-center">
            <h3 class="text-black font-1 lh-1 fw-semibold">More About Us</h3>
            
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col">
                    <div class="card p-3 with-border-bottom border-0 shadow rounded-3">
                         <div class="card-body ">
                            <h5 class="font-1 fw-bold">
                                Personalized Care Plans
                            </h5>
                            <p class="text-gray">
                                At Chosen Healthcare, we understand that every individual is unique, and their healthcare needs vary accordingly. That's why we take a personalized approach to care planning. Our experienced team works closely with each client and their family to assess their specific needs, preferences, and goals. Through detailed assessments and open communication, we develop customized care plans that address every aspect of their well-being. Whether it's assistance with daily activities, medical care, or emotional support, our personalized care plans ensure that each client receives the tailored support they need to thrive.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-3 with-border-bottom border-0 shadow rounded-3">
                         <div class="card-body ">
                            <h5 class="font-1 fw-bold">
                                Experienced Caregivers
                            </h5>
                            <p class="text-gray">
                                At the heart of Chosen Healthcare is our team of experienced caregivers who are dedicated to providing compassionate, reliable care to our clients. Each caregiver undergoes rigorous screening, training, and certification to ensure they possess the skills and expertise necessary to meet our high standards of care. Beyond their qualifications, our caregivers are chosen for their genuine compassion, empathy, and dedication to making a difference in the lives of others. Whether they're assisting with personal care tasks, providing companionship, or offering emotional support, our caregivers approach each interaction with professionalism and kindness.

                            </p>

                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="card p-3 with-border-bottom border-0 shadow rounded-3">
                         <div class="card-body ">
                            <h5 class="font-1 fw-bold">
                                Latest News and Updates
                            </h5>
                            <p class="text-gray">
                                Staying informed about developments in healthcare is crucial for making informed decisions about your well-being or that of your loved ones. At Chosen Healthcare, we keep you updated with the latest news, trends, and advancements in the healthcare industry. Our news and updates section is a valuable resource for information on topics such as new treatments, healthcare policies, and tips for maintaining optimal health. By staying informed, you can feel empowered to take control of your health and make informed decisions that support your overall well-being.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-3 with-border-bottom border-0 shadow rounded-3">
                         <div class="card-body ">
                            <h5 class="font-1 fw-bold">
                                Easy Accessibility
                            </h5>
                            <p class="text-gray">
                                At Chosen Healthcare, we believe that accessing quality healthcare services should be simple and convenient. That's why we prioritize easy accessibility for our clients. Whether you prefer to reach out to us online, by phone, or in person, we make it easy for you to connect with our team and access the support and services you need. Our user-friendly website provides detailed information about our services, caregivers, and contact information, making it easy for you to find what you need with just a few clicks.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-3 with-border-bottom border-0 shadow rounded-3">
                         <div class="card-body ">
                            <h5 class="font-1 fw-bold">
                                Community Engagement
                            </h5>
                            <p class="text-gray">
                                At Chosen Healthcare, we believe in giving back to the communities we serve. Community engagement is an integral part of our mission to promote health and well-being for individuals of all ages and backgrounds. Through outreach programs, educational initiatives, and partnerships with local organizations, we strive to make a positive impact in our community. Whether it's volunteering at local events, participating in health fairs, or providing educational seminars, we are committed to supporting the health and vitality of our community.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-3 with-border-bottom border-0 shadow rounded-3">
                         <div class="card-body ">
                            <h5 class="font-1 fw-bold">
                                Peace of Mind
                            </h5>
                            <p class="text-gray">
                                Choosing the right healthcare provider can be a daunting task, but at Chosen Healthcare, we strive to provide you with peace of mind every step of the way. From our compassionate caregivers to our personalized care plans, we prioritize your comfort, safety, and well-being above all else. With Chosen Healthcare, you can rest easy knowing that you or your loved one is receiving the highest quality of care from experienced professionals who genuinely care about your health and happiness.
                            </p>

                        </div>
                    </div>
                </div>
                
                 
            </div>

        </div>
    </div>
</section>