@page
@model ChoosenCareHome.Pages.CaregiversModel
@{
}
<section class="section position-relative" style="background-image: url(img/bg123.jpg);">
    <div class="r-container">
        <div class="image-overlay"></div>
        <div class="position-relative" style="z-index: 2;">
            <h1 class="font-1 fw-bold text-white">Caregivers</h1>
            <h4 style="color:white;">Caring with Compassion, Respect and Dignity</h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item fw-bold"><a asp-page="/Index">Home</a></li>
                    <li class="breadcrumb-item fw-bold active" aria-current="page">Caregivers</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<section class="section">
    <div class="r-container">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col mb-3 pe-lg-3 position-relative">
                <div class="overlay right"></div>
                <div class="position-relative pe-5">
                    <img src="~/img/image-600x700-1.jpg" alt="" class="img-fluid" style="z-index: -2;">

                </div>
            </div>
            <div class="col mb-3">
                <div class="d-flex flex-column gap-3 p-3">
                    <h3 class="text-black font-1 lh-1 fw-semibold">
                        Our Caregivers: Providing Compassionate Support
                    </h3>
                    <p class="text-gray">
                        At Chosen Healthcare, our caregivers are the heart of our organization, providing compassionate support and assistance to those in need. With years of experience and training, our caregivers possess the skills, empathy, and dedication required to deliver the highest standard of care to our clients. Each member of our caregiving team is carefully selected and undergoes thorough background checks and training to ensure they meet our rigorous standards of professionalism and excellence.
                    </p>

                    <div class="my-4 border-bottom w-100"></div>
                    <div class="row row-cols-1 row-cols-lg-2">
                        <div class="col mb-3">
                            <div class="d-flex flex-lg-row flex-column justify-content-lg-start align-items-center gap-2 justify-content-center">
                                <div class="bg-accent-color text-white rounded-3 icon-box" style="font-size: 20px; width: 3rem; height: 3rem;">
                                    <i class="fa-solid fa-user-doctor"></i>
                                </div>
                                <span class="font-1 fs-3 lh-1 fw-semibold">
                                    Our Services
                                    Compassionate Nursing Care
                                </span>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="d-flex flex-lg-row flex-column justify-content-lg-start align-items-center gap-2 justify-content-center">
                                <div class="bg-accent-color text-white rounded-3 icon-box" style="font-size: 20px; width: 3rem; height: 3rem;">
                                    <i class="fa-solid fa-house-medical-circle-check"></i>
                                </div>
                                <span class="font-1 fs-3 lh-1 fw-semibold">
                                    Clinical Advice
                                    Clinical Guidance and Support
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="r-container">
        <div class="row row-cols-1 row-cols-lg-12">

            <div class="col mb-12">
                <div class="d-flex flex-column gap-3 p-3">
                    <h3 class="text-black font-1 lh-1 fw-semibold">
                        Reasons to Book an Appointment with Our Caregivers
                    </h3>

                    <div class="row row-cols-2">
                        <div class="col mb-2">
                            <div class="d-flex flex-row gap-2 align-items-center">
                                <i class="fa-solid fa-circle-arrow-right accent-color"></i>
                                <span class="text-gray">
                                    <strong>
                                        Experience:
                                    </strong> Our caregivers bring years of experience and expertise to every interaction, ensuring that you receive the highest quality of care.
                                </span>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="d-flex flex-row gap-2 align-items-center">
                                <i class="fa-solid fa-circle-arrow-right accent-color"></i>
                                <span class="text-gray">
                                    <strong>
                                        Personalized Care:
                                    </strong> We tailor our services to meet your unique needs and preferences, ensuring that you receive the support and assistance you require.
                                </span>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="d-flex flex-row gap-2 align-items-center">
                                <i class="fa-solid fa-circle-arrow-right accent-color"></i>
                                <span class="text-gray">
                                    <strong>
                                        Professionalism:
                                    </strong> Our caregivers uphold the highest standards of professionalism and integrity, providing reliable and trustworthy care at all times.
                                </span>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="d-flex flex-row gap-2 align-items-center">
                                <i class="fa-solid fa-circle-arrow-right accent-color"></i>
                                <span class="text-gray">
                                    <strong>
                                        Compassion:
                                    </strong> We approach every interaction with empathy and compassion, creating a supportive and nurturing environment for our clients.
                                </span>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="d-flex flex-row gap-2 align-items-center">
                                <i class="fa-solid fa-circle-arrow-right accent-color"></i>
                                <span class="text-gray">
                                    <strong>
                                        Flexibility:
                                    </strong> With flexible scheduling options, you can book appointments that fit your schedule and preferences, ensuring that you receive the care you need, when you need it.
                                </span>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="d-flex flex-row gap-2 align-items-center">
                                <i class="fa-solid fa-circle-arrow-right accent-color"></i>
                                <span class="text-gray">
                                    <strong>
                                        Peace of Mind:
                                    </strong> With our caregivers by your side, you can have peace of mind knowing that you or your loved one is in capable and caring hands, allowing you to focus on what matters most—your health and well-being.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="my-4 border-bottom w-100"></div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="r-container">
        <div class="d-flex flex-lg-row flex-column-reverse gap-12">
            <div class="col col-lg-12">
                <div class="d-flex flex-column gap-3">

                    <div class="bg-light p-4 rounded-3">
                        <h5 class="font-1 fw-bold ">Benefits of Choosing Our Caregivers</h5>
                        <div class="list-group rounded-0" style="gap: 0.65rem;">

                            <a href="#" class="list-group-item list-group-item-action bg-accent-color text-white shadow" aria-current="true">
                                <h6>Compassionate Care:</h6>
                                <p> Our caregivers are committed to providing compassionate care that prioritizes the comfort and well-being of our clients. They approach each interaction with empathy and understanding, creating a supportive and nurturing environment where clients feel valued and respected.</p>
                            </a>

                            <a href="#" class="list-group-item list-group-item-action bg-accent-color text-white shadow" aria-current="true">
                                <h6>Professionalism:</h6>
                                <p> Our caregivers are highly trained professionals who uphold the highest standards of professionalism and integrity. They possess the knowledge and expertise needed to address a wide range of needs and situations, ensuring that our clients receive the best possible care at all times.</p>
                            </a>

                            <a href="#" class="list-group-item list-group-item-action bg-accent-color text-white shadow" aria-current="true">
                                <h6>Personalized Approach:</h6>
                                <p> We understand that each individual has unique needs and preferences. That's why our caregivers take a personalized approach to care, tailoring their services to meet the specific needs and preferences of each client.</p>
                            </a>

                            <a href="#" class="list-group-item list-group-item-action bg-accent-color text-white shadow" aria-current="true">
                                <h6>Reliable Assistance:</h6>
                                <p> Whether you need assistance with personal care tasks, medication management, or household chores, our caregivers are here to help. With flexible scheduling options, you can rely on us to provide the support you need, when you need it.</p>
                            </a>

                            <a href="#" class="list-group-item list-group-item-action bg-accent-color text-white shadow" aria-current="true">
                                <h6>Peace of Mind:</h6>
                                <p> With our caregivers by your side, you can have peace of mind knowing that you or your loved one is in capable and caring hands. Our caregivers undergo thorough screening and training to ensure they provide the highest quality of care and support.</p>
                            </a>

                            <a href="#" class="list-group-item list-group-item-action bg-accent-color text-white shadow" aria-current="true">
                                <h6>Enhanced Quality of Life:</h6>
                                <p> Our caregivers are dedicated to improving the quality of life for our clients by providing the support and assistance they need to live comfortably and independently. From companionship to specialized medical care, our caregivers are here to help our clients thrive.</p>
                            </a>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
