@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<main>
    <!-- Banner -->

    <section class="elementor-section elementor-top-section elementor-element elementor-element-814c197 elementor-section-height-min-height elementor-section-items-stretch elementor-section-content-middle elementor-section-boxed elementor-section-height-default">

        <link rel="stylesheet" type="text/css" href="~/slider/css/slidermain.css">
        <!-- Slider Revolution CSS Files -->
        <link rel="stylesheet" type="text/css" href="~/slider/revolution/css/settings.css">
        <link rel="stylesheet" type="text/css" href="~/slider/revolution/css/layers.css">
        <link rel="stylesheet" type="text/css" href="~/slider/revolution/css/navigation.css">

        <div class="rev_slider_wrapper rev_type_one">
            <!-- the ID here will be used in the inline JavaScript below to initialize the slider -->
            <div id="rev_slider_2" class="rev_slider" data-version="5.4.5" style="display:none">
                <ul>
                    <li data-index="rs-3045" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="" data-rotate="0" data-fstransition="fade"
                        data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                        data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/img/image-1920x900-1.jpg" alt="" width="1920" height="850" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="14" class="rev-slidebg" data-no-retina>
                        <!-- LAYER NR. 1 -->
                        
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption titel-1   tp-resizeme" id="slide-3049045-layer-2" data-x="['left','left','left','center']" data-hoffset="[10','100','80','0']" data-y="['top','top','top','middle']" data-voffset="['275','275','265','-60']" data-fontsize="['66','66','52','45']"
                             data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="2000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; line-height: 90px; background-color: rgb(146 193 100 / 68%); border-radius: 6px; padding: 5px;">
                            Compassionate Care

                        </div>
                        
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption titel-2   tp-resizeme" id="slide-3049045-layer-4" data-x="['left','left','left','center']" data-hoffset="[10','100','80','0']" data-y="['top','top','top','middle']" data-voffset="['450','450','420','410']" data-width="['auto','auto','auto','auto']"
                             data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="4000" data-splitin="none" data-splitout="none" data-fontsize="['18','18','16','15']" data-responsive_offset="on" style="z-index: 8; white-space: nowrap; line-height: 30px; background-color: rgb(146 193 100 / 68%); border-radius: 6px; padding: 5px;">
                            <h4 style="">Caring with Compassion, Respect and Dignity</h4>
                            Our caregivers provide compassionate, personalized care to individuals and families in need, ensuring comfort, dignity, and well-being.
                        </div>
                        
                    </li>

                    <li data-index="rs-3046" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="" data-rotate="0" data-fstransition="fade"
                        data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                        data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/img/image-1920x900-6.jpg" alt="" width="1920" height="850" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="14" class="rev-slidebg" data-no-retina>
                        <!-- LAYER NR. 1 -->
                        
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption titel-1   tp-resizeme" id="slide-3049045-layer-2" data-x="['left','left','left','center']" data-hoffset="[10','100','80','0']" data-y="['top','top','top','middle']" data-voffset="['275','275','265','-60']" data-fontsize="['66','66','52','45']"
                             data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="2000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; line-height: 90px; background-color: rgb(146 193 100 / 68%); border-radius: 6px; padding: 5px;">
                            Tailored Services

                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption titel-2   tp-resizeme" id="slide-3049045-layer-4" data-x="['left','left','left','center']" data-hoffset="[10','100','80','0']" data-y="['top','top','top','middle']" data-voffset="['450','450','420','410']" data-width="['auto','auto','auto','auto']"
                             data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="4000" data-splitin="none" data-splitout="none" data-fontsize="['18','18','16','15']" data-responsive_offset="on" style="z-index: 8; white-space: nowrap; line-height: 30px; background-color: rgb(146 193 100 / 68%); border-radius: 6px; padding: 5px;">
                            <h4 style="">Caring with Compassion, Respect and Dignity</h4>We offer tailored care plans designed to meet the unique needs and preferences of each client, promoting independence and enhancing quality of life.
                        </div>
                    </li>

                    <li data-index="rs-3047" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="" data-rotate="0" data-fstransition="fade"
                        data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                        data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/img/image-1920x900-2.jpg" alt="" width="1920" height="850" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="14" class="rev-slidebg" data-no-retina>
                        <!-- LAYER NR. 1 -->
                        
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption titel-1   tp-resizeme" id="slide-3049045-layer-2" data-x="['left','left','left','center']" data-hoffset="[10','100','80','0']" data-y="['top','top','top','middle']" data-voffset="['275','275','265','-60']" data-fontsize="['66','66','52','45']"
                             data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="2000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; line-height: 90px; background-color: rgb(146 193 100 / 68%); border-radius: 6px; padding: 5px;">
                            Excellence in Care

                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption titel-2   tp-resizeme" id="slide-3049045-layer-4" data-x="['left','left','left','center']" data-hoffset="[10','100','80','0']" data-y="['top','top','top','middle']" data-voffset="['450','450','420','410']" data-width="['auto','auto','auto','auto']"
                             data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="4000" data-splitin="none" data-splitout="none" data-fontsize="['18','18','16','15']" data-responsive_offset="on" style="z-index: 8; white-space: nowrap; line-height: 30px; background-color: rgb(146 193 100 / 68%); border-radius: 6px; padding: 5px;">
                            <h4 style="">Caring with Compassion, Respect and Dignity</h4> At Chosen Healthcare, we are committed to excellence in everything we do, from the quality of our services to the professionalism of our caregivers.
                        </div>
                    </li>

                </ul>
            </div>
        </div>

        <script src="~/slider/js/jquery-3.3.1.min.js"></script>
        <script src="~/slider/js/bootstrap.min.js"></script>

        <!---Slider Revolution core JavaScript files ---->
        <script src="~/slider/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="~/slider/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <!-- Slider Revolution extension scripts. ONLY NEEDED FOR LOCAL TESTING-->
        <script src="~/slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script src="~/slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script src="~/slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script src="~/slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="~/slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script src="~/slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script src="~/slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script src="~/slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="~/slider/revolution/js/extensions/revolution.extension.video.min.js"></script>

        <script src="~/slider/js/mainjs.js"></script>

        <style>
            .zeus.tparrows.tp-rightarrow:before {
                content: "\f0da"; /* FontAwesome icon code for right carat */
                font-family: "Font Awesome\ 5 Free"; /* Font family for FontAwesome */
            }

            .zeus.tparrows:before {
                font-family: "Font Awesome\ 5 Free";
                font-size: 20px;
                color: #fff;
                display: block;
                line-height: 70px;
                text-align: center;
                z-index: 2;
                position: relative;
            }

            .zeus.tparrows.tp-leftarrow:before {
                content: "\f0d9"; /* FontAwesome icon code for right carat */
                font-family: "Font Awesome\ 5 Free"; /* Font family for FontAwesome */
            }

            .zeus.tparrows:before {
                font-family: "Font Awesome\ 5 Free";
                font-size: 20px;
                color: #fff;
                display: block;
                line-height: 70px;
                text-align: center;
                z-index: 2;
                position: relative;
            }
            .ban_lay_one p {
                margin-left: 0px !important;
                padding-top: 10px !important;
                font-weight: 600;
                color: #fff;
            }
        </style>
    </section>


    <section class="position-relative" style="margin-top: -80px;">
        <div class="r-container px-lg-0 px-4">
            <div class="overflow-hidden rounded-4">
                <div class="row row-cols-1 row-cols-lg-3">
                    <div class="col bg-accent-color-1 text-white">
                        <div class="d-flex flex-row gap-2 align-items-center  p-4">
                            <div class="rounded-circle bg-accent-color icon-box">
                                <i class="fa-solid fa-user-doctor"></i>
                            </div>
                            <div class="d-flex flex-column">
                                <span class="fw-bold font-1 fs-4">Our Services</span>
                                <span class="fw-bold font-1 fs-3 lh-1">
                                    Compassionate Nursing Care
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col bg-accent-color text-white ">
                        <div class="d-flex flex-row gap-2 align-items-center  p-4">
                            <div class="rounded-circle bg-accent-color-2 icon-box">
                                <i class="fa-solid fa-stethoscope"></i>
                            </div>
                            <div class="d-flex flex-column">
                                <span class="fw-bold font-1 fs-4">Clinical Advice</span>
                                <span class="fw-bold font-1 fs-3 lh-1">
                                    Clinical Guidance and Support
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col bg-accent-color-2 text-white">
                        <div class="d-flex flex-row gap-2 align-items-center  p-4">
                            <div class="rounded-circle bg-accent-color-1 icon-box">
                                <i class="fa-solid fa-earth-asia"></i>
                            </div>
                            <div class="d-flex flex-column">
                                <span class="fw-bold font-1 fs-4">Our Expertises</span>
                                <span class="fw-bold font-1 fs-3 lh-1">
                                    Specialized Senior Care
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Welcome To Seniorsy -->
    <section class="section">
        <div class="r-container">
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col mb-3 pe-lg-3 position-relative">
                    <div class="overlay right"></div>
                    <div class="position-relative pe-5">
                        <img src="~/ui/image-600x700-1.jpg" alt="" class="img-fluid" style="z-index: -2;">
                        <div class="position-absolute bottom-0 start-0 ms-4 mb-4">
                            <!-- Button trigger modal -->
                             
                        
                        </div>
                    </div>
                </div>
                <div class="col mb-3">
                    <div class="d-flex flex-column gap-3 p-3"> 
                        <h3 class="text-black font-1 lh-1 fw-semibold">
                            Welcome to Chosen Healthcare!
                        </h3>
                        <p class="text-gray">
                            At Chosen Healthcare, we extend a warm welcome to you and your loved ones, inviting you to explore the comprehensive range of services and support we offer to help you achieve optimal health and well-being. As you navigate through our site, you'll discover a wealth of information tailored to meet your needs, including:
                        </p>
                        <div class="row row-cols-2">
                            <div class="col mb-2">
                                <div class="d-flex flex-row gap-2 align-items-center">
                                    <i class="fa-solid fa-circle-arrow-right accent-color"></i>
                                    <span class="text-gray">Personalized Care Plans</span>
                                </div>
                            </div>
                            <div class="col mb-2">
                                <div class="d-flex flex-row gap-2 align-items-center">
                                    <i class="fa-solid fa-circle-arrow-right accent-color"></i>
                                    <span class="text-gray">Experienced Caregivers</span>
                                </div>
                            </div>
                            <div class="col mb-2">
                                <div class="d-flex flex-row gap-2 align-items-center">
                                    <i class="fa-solid fa-circle-arrow-right accent-color"></i>
                                    <span class="text-gray">
                                        Latest News and Updates
                                    </span>
                                </div>
                            </div>
                            <div class="col mb-2">
                                <div class="d-flex flex-row gap-2 align-items-center">
                                    <i class="fa-solid fa-circle-arrow-right accent-color"></i>
                                    <span class="text-gray">Easy Accessibility</span>
                                </div>
                            </div>
                            <div class="col mb-2">
                                <div class="d-flex flex-row gap-2 align-items-center">
                                    <i class="fa-solid fa-circle-arrow-right accent-color"></i>
                                    <span class="text-gray">Community Engagement</span>
                                </div>
                            </div>
                            <div class="col mb-2">
                                <div class="d-flex flex-row gap-2 align-items-center">
                                    <i class="fa-solid fa-circle-arrow-right accent-color"></i>
                                    <span class="text-gray">
                                        Peace of Mind
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="my-4 border-bottom w-100"></div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Types Of Care -->
    <section class="section bg-light">
        <div class="r-container">
            <div class="d-flex flex-column gap-3 justify-content-center text-center"> 
                <h3 class="text-black font-1 lh-1 fw-semibold">Providing Quality Healthcare</h3>
                <p class="text-gray mx-auto" style="max-width: 768px;">
                    Our services are designed to address a wide range of needs, from daily assistance with activities of daily living to specialized medical care. Whether you require short-term support during recovery or ongoing assistance to maintain independence, Chosen Healthcare is here to provide the help you need, when you need it.
                </p>
                <div class="row row-cols-1 row-cols-lg-3">
                    <div class="col">
                        <div class="card p-3 with-border-bottom border-0 shadow rounded-3">
                            <img src="~/ui/image-600x400-1.jpg" class="card-img-top rounded-3" alt="...">
                            <div class="card-body ">
                                <h5 class="font-1 fw-bold">Client Care Overview</h5>
                                <p class="text-gray">
                                    At Chosen Healthcare, we believe in putting our clients first. Our client-centered approach ensures that each individual's needs and preferences are carefully considered and prioritized in every aspect of their care plan. From the initial consultation to ongoing support, we work closely with our clients and their families to ensure that their unique needs are met with compassion and respect.
                                </p>
                                <div class="d-flex justify-content-center">
                                    <a type="button" asp-page="" class="btn post-button font-2 d-flex flex-row align-items-center gap-2">
                                        Read
                                        More <i class="fa-solid fa-circle-arrow-right mt-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card p-3 with-border-bottom border-0 shadow rounded-3">
                            <img src="~/ui/image-600x400-2.jpg" class="card-img-top rounded-3" alt="...">
                            <div class="card-body ">
                                <h5 class="font-1 fw-bold">Hourly Home Care</h5>
                                <p class="text-gray">
                                    Our flexible hourly home care services are designed to provide support and assistance as needed, allowing individuals to maintain their independence and dignity while receiving the help they require. Whether you need assistance with personal care, medication management, or household tasks, our caregivers are here to help on your schedule.
                                </p>
                                <div class="d-flex justify-content-center">
                                    <a type="button" asp-page="" class="btn post-button font-2 d-flex flex-row align-items-center gap-2">
                                        Read
                                        More <i class="fa-solid fa-circle-arrow-right mt-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card p-3 with-border-bottom border-0 shadow rounded-3">
                            <img src="~/ui/image-600x400-3.jpg" class="card-img-top rounded-3" alt="...">
                            <div class="card-body ">
                                <h5 class="font-1 fw-bold">Daily Home Care</h5>
                                <p class="text-gray">
                                    Our daily home care services offer comprehensive assistance with daily activities to promote independence and well-being. From grooming and dressing to meal preparation and light housekeeping, our caregivers provide the support you need to live comfortably and confidently in your own home.
                                </p>
                                <div class="d-flex justify-content-center">
                                    <a type="button" asp-page="" class="btn post-button font-2 d-flex flex-row align-items-center gap-2">
                                        Read
                                        More <i class="fa-solid fa-circle-arrow-right mt-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="col">
                        <div class="card p-3 with-border-bottom border-0 shadow rounded-3">
                            <img src="~/img/1.jpg" class="card-img-top rounded-3" alt="...">
                            <div class="card-body ">
                                <h5 class="font-1 fw-bold">Hospital to Home Care</h5>
                                <p class="text-gray">
                                    Transitioning from hospital to home can be challenging, but Chosen Healthcare is here to help. Our hospital to home care services are designed to facilitate a smooth transition, ensuring continuity of care and support during the recovery process. From coordinating with healthcare providers to providing personalized care at home, we're here to help you get back on your feet and on the path to recovery.
                                </p>
                                <div class="d-flex justify-content-center">
                                    <a type="button" asp-page="" class="btn post-button font-2 d-flex flex-row align-items-center gap-2">
                                        Read
                                        More <i class="fa-solid fa-circle-arrow-right mt-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card p-3 with-border-bottom border-0 shadow rounded-3">
                            <img src="~/img/2.jpg" class="card-img-top rounded-3" alt="...">
                            <div class="card-body ">
                                <h5 class="font-1 fw-bold">Respite Home Care</h5>
                                <p class="text-gray">
                                    Caregiving can be demanding, and everyone deserves a break now and then. Our respite care services provide temporary relief and support for family caregivers, allowing them to recharge and take care of themselves while ensuring their loved ones receive the care they need.
                                </p>
                                <div class="d-flex justify-content-center">
                                    <a type="button" asp-page="" class="btn post-button font-2 d-flex flex-row align-items-center gap-2">
                                        Read
                                        More <i class="fa-solid fa-circle-arrow-right mt-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card p-3 with-border-bottom border-0 shadow rounded-3">
                            <img src="~/img/4.jpeg" class="card-img-top rounded-3" alt="...">
                            <div class="card-body ">
                                <h5 class="font-1 fw-bold">Specialized Care</h5>
                                <p class="text-gray">
                                    We understand that some individuals require specialized care due to unique needs or conditions. That's why we offer specialized care programs tailored to individuals with conditions such as Alzheimer's and dementia, palliative care, and more. Our compassionate caregivers are trained to provide specialized support and assistance, ensuring the comfort and well-being of our clients in every situation.
                                </p>
                                <div class="d-flex justify-content-center">
                                    <a type="button" asp-page="" class="btn post-button font-2 d-flex flex-row align-items-center gap-2">
                                        Read
                                        More <i class="fa-solid fa-circle-arrow-right mt-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <!-- Why Choose Seniorsy -->
    <section class="section">
        <div class="r-container">
            <div class="d-flex flex-lg-row flex-column-reverse">
                <div class="col mb-3">
                    <div class="d-flex flex-column gap-3 p-3 h-100 justify-content-center"> 
                        <h3 class="text-black font-1 lh-1 fw-bold">
                            Book An Appointment
                        </h3>
                        <div class="d-flex flex-lg-row flex-column">
                            <div class="col text-white gap-3 col-lg-4 rounded-2 bg-accent-color p-3 text-center d-flex flex-column justify-content-center align-items-center">
                                <div class="rounded-circle p-1 bg-white accent-color" style="width: 4rem; height: 4rem; font-size: 2.3rem;">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <h5 class="font-1 lh-1 fw-bold">Contact Us Now</h5>
                                <h5 class="font-1 lh-1 fw-bold">+447852528020</h5>
                            </div>
                            <div class="col col-lg-8">
                                <div class="d-flex flex-column ps-3">
                                    <p>
                                        Ready to schedule a consultation or service? Use our convenient online booking system to schedule an appointment at your convenience. Whether you're interested in learning more about our services or ready to get started with care, we're here to help.
                                    </p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5 pe-lg-3 position-relative">
                    <div class="overlay left"></div>
                    <div class="position-relative ps-5">
                        <img src="~/ui/image-600x700-2.jpg" alt="" class="img-fluid rounded-3" style="z-index: -2;">
                        <div class="position-absolute bottom-0 end-0 d-flex justify-content-end">
                            <div class=" bg-accent-color rounded-3 p-4 w-75" style="margin-bottom: -3rem;">
                                <h6 class="font-1 text-white fw-bold">
                                    The Patient Is First Priority In Our Passion
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section pt-0">
        <div class="r-container">
            <div class="row row-cols-1 row-cols-lg-4">
                <div class="col">
                    <div class="card with-border-bottom border-0 shadow d-flex flex-column justify-content-center  align-items-center p-2">
                        <h3 class="accent-color font-1 fw-bold lh-1">250+</h3>
                        <h5 class="font-1 fw-bold">Completed Cases</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="card with-border-bottom border-0 shadow d-flex flex-column justify-content-center  align-items-center p-2">
                        <h3 class="accent-color font-1 fw-bold lh-1">50+</h3>
                        <h5 class="font-1 fw-bold">Healthcare Staff</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="card with-border-bottom border-0 shadow d-flex flex-column justify-content-center  align-items-center p-2">
                        <h3 class="accent-color font-1 fw-bold lh-1">20+</h3>
                        <h5 class="font-1 fw-bold">Support Doctors</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="card with-border-bottom border-0 shadow d-flex flex-column justify-content-center  align-items-center p-2">
                        <h3 class="accent-color font-1 fw-bold lh-1">200+</h3>
                        <h5 class="font-1 fw-bold">Happy Couples</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- We Care With Compassion -->
    <section class="position-relative" style="background-image: url(../img/image-1920x900-6.jpg);">
        <div class="r-container">
            <div class="image-overlay"></div>
            <div class="d-flex flex-column justify-content-center align-items-center text-center position-relative gap-3" style="z-index: 2; min-height: 70vh;">
                <div>
                    <!-- Button trigger modal -->
                    <div class="d-flex flex-row gap-3 align-items-center">
                        <button type="button" class="btn request-loader" data-bs-toggle="modal" data-bs-target="#videomodal">
                            <i class="fa-solid fa-play"></i>
                        </button>
                    </div>
                </div>
                <h4 class="font-1 text-white fw-bold">We Care With Compassion</h4>
                <p class="text-white" style="max-width: 768px;">
                    No matter your circumstances, Chosen Healthcare is here to serve you with the highest level of care and professionalism. We're dedicated to making a positive difference in your life, and we look forward to the opportunity to assist you on your path to better health.
                </p>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade bg-overlay" id="videomodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-dark-color">
                    <iframe class="ifr-video" src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </section>
     

    <!-- How It Work ? -->
    <section class="section bg-light">
        <div class="r-container">
            <div class="row">
                 
                <div class="col mb-12">
                    <div class="bg-accent-color rounded-4">
                        <div class="h-100 d-flex flex-column p-5">
                            <h6 class="font-2 text-white">Fill The Form</h6>
                            <h3 class="font-1 lh-1 fw-bold fs-1 mb-3 text-white">Get In Touch</h3>
                           
                            <form action="" class="d-flex flex-column h-100 justify-content-center w-100 needs-validation mb-3 form" novalidate="">
                                <div class="mb-3">
                                    <input type="text" class="form-control py-2 px-4" name="name" id="name" placeholder="Name" required="">
                                    <div class="invalid-feedback">
                                        The field is required.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <input type="email" class="form-control py-2 px-4" name="email" id="email" placeholder="Email" required="">
                                    <div class="invalid-feedback">
                                        The field is required.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control py-2 px-4" name="subject" id="subject" placeholder="Subject" required="">
                                    <div class="invalid-feedback">
                                        The field is required.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <textarea class="form-control py-2 px-4" id="message" name="message" rows="5" placeholder="Message"></textarea>
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="btn submit_form py-3">
                                        Send Message
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- News & Article -->
    <section class="section">
        <div class="r-container">
            <div class="d-flex flex-column gap-3">
                <div class="d-flex flex-lg-row flex-column text-lg-start text-center gap-lg-4 gap-2">
                    <div class="col col-lg-3">
                        <h6 class="font-2 accent-color">News &amp; Article</h6>
                        <h3 class="font-1 lh-1 fw-bold fs-1 mb-3">Our Latest News</h3>
                    </div>
                    <div class="col col-lg-7">
                        <p class="text-gray">
                            Fusce non egestas felis, in rhoncus est. Morbi non congue orci. Sed
                            venenatis varius
                            convallis. Aenean vitae hendrerit est, eu molestie orci. Vivamus consectetur molestie
                            lacus, at mattis augue porta et.
                        </p>
                    </div>
                    <div class="col col-lg-2">
                        <a href="https://html.rometheme.pro/seniorsy/news.html" type="button" class="btn bg-accent-color p-3">View More</a>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-lg-3">
                    <div class="col mb-3">
                        <div class="card border border-light-subtle">
                            <img src="~/ui/image-600x400-5.jpg" class="card-img-top" alt="...">
                            <div class="card-body px-3 py-4">
                                <h6 class="font-1 lh-1 fw-bold">
                                    Cherishing Life, Bringing Independence A Little
                                    Closer To Home
                                </h6>
                                <p class="text-gray">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Integer tincidunt maximus malesuada. Quisque ut ipsum…
                                </p>
                                <a type="button" href="https://html.rometheme.pro/seniorsy/single_post.html" class="btn bg-accent-color py-3 px-4 text-white">
                                    Learn
                                    More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="card border border-light-subtle">
                            <img src="~/ui/image-600x400-4.jpg" class="card-img-top" alt="...">
                            <div class="card-body px-3 py-4">
                                <h6 class="font-1 lh-1 fw-bold">
                                    Connected Living Strives To Curb Loneliness Amongst
                                    Seniors
                                </h6>
                                <p class="text-gray">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Integer tincidunt maximus malesuada. Quisque ut ipsum…
                                </p>
                                <a type="button" href="https://html.rometheme.pro/seniorsy/single_post.html" class="btn bg-accent-color py-3 px-4 text-white">
                                    Learn
                                    More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="card border border-light-subtle">
                            <img src="~/ui/image-600x400-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body px-3 py-4">
                                <h6 class="font-1 lh-1 fw-bold">
                                    Metabolism Changes With Age, Just Not When You Might
                                    Think
                                </h6>
                                <p class="text-gray">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Integer tincidunt maximus malesuada. Quisque ut ipsum…
                                </p>
                                <a type="button" href="https://html.rometheme.pro/seniorsy/single_post.html" class="btn bg-accent-color py-3 px-4 text-white">
                                    Learn
                                    More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>