@page
@model ChoosenCareHome.Pages.PrivacyPolicyModel
@{
}
<section class="section position-relative" style="background-image: url(img/bg123.jpg);">
    <div class="r-container">
        <div class="image-overlay"></div>
        <div class="position-relative" style="z-index: 2;">
            <h1 class="font-1 fw-bold text-white">Privacy Policy</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item fw-bold"><a asp-page="/Index">Home</a></li>
                    <li class="breadcrumb-item fw-bold active" aria-current="page">Privacy Policy</li>
                </ol>
            </nav>
        </div>
    </div>
</section>


<section class="section">
    <div class="r-container">
        <div class="d-flex flex-lg-row flex-column-reverse gap-12">
            <div class="col col-lg-12">

                <div>
                    <h2>Information We Collect</h2>
                    <p>
                        We may collect personal information from you when you interact with our website, contact us for inquiries
                        or services, or participate in surveys or promotions. This information may include:
                    </p>
                    <ul>
                        <li>Contact information such as name, address, email address, and phone number</li>
                        <li>Demographic information such as age, gender, and preferences</li>
                        <li>Health-related information necessary for providing care services</li>
                        <li>Payment information for processing transactions</li>
                    </ul>
                </div>

                <div>
                    <h2>How We Use Your Information</h2>
                    <p>We use the information we collect for the following purposes:</p>
                    <ul>
                        <li>Providing and personalizing our services to meet your needs</li>
                        <li>Communicating with you about your inquiries, appointments, or services</li>
                        <li>Processing payments and billing for services rendered</li>
                        <li>Conducting surveys, research, and analysis to improve our services</li>
                        <li>Complying with legal and regulatory requirements</li>
                    </ul>
                </div>

                <div>
                    <h2>Information Sharing and Disclosure</h2>
                    <p>
                        We may share your personal information with third-party service providers, affiliates, or partners who assist
                        us in providing our services. These parties are contractually obligated to maintain the confidentiality and
                        security of your information and are prohibited from using it for any other purpose.
                    </p>
                    <p>
                        We may also disclose your information in response to legal requests, court orders, or legal proceedings, or
                        to protect our rights, property, or safety, or the rights, property, or safety of others.
                    </p>
                </div>

                <div>
                    <h2>Data Security</h2>
                    <p>
                        We take reasonable measures to protect the security and confidentiality of your personal information. This
                        includes implementing physical, technical, and administrative safeguards to prevent unauthorized access,
                        disclosure, alteration, or destruction of your information.
                    </p>
                </div>

                <div>
                    <h2>Your Rights and Choices</h2>
                    <p>
                        You have the right to access, update, or correct your personal information at any time. You may also request
                        that we delete your information, subject to applicable legal and regulatory requirements. Additionally, you
                        may opt-out of receiving promotional communications from us by following the instructions provided in such
                        communications.
                    </p>
                </div>

                <div>
                    <h2>Children's Privacy</h2>
                    <p>
                        Our services are not intended for individuals under the age of 18. We do not knowingly collect personal
                        information from children under the age of 18 without parental consent.
                    </p>
                </div>

                <div>
                    <h2>Changes to this Privacy Policy</h2>
                    <p>
                        We reserve the right to update or modify this Privacy Policy at any time. We will notify you of any changes
                        by posting the revised policy on our website. Your continued use of our services after the posting of the
                        revised policy constitutes your acceptance of the changes.
                    </p>
                </div>

                <div>
                    <h2>Contact Us</h2>
                    <p>
                        If you have any questions or concerns about this Privacy Policy or our privacy practices, please contact us
                        at <a href="mailto:info@chosenhealthcare.co.uk">
                            info@chosenhealthcare.co.uk
                        </a> or by phone at <a href="tel:+447852528020">+447852528020</a>.
                    </p>
                </div>

                <div>
                    <p>Effective Date: Jan 2024</p>
                </div>
            </div>
        </div>
    </div>

</section>
