@page
@model ChoosenCareHome.Pages.Data.ApplicationStatusModel
@{
}
<section class="section position-relative" style="background-image: url(../img/bg123.jpg);">
    <div class="r-container">
        <div class="image-overlay"></div>
        <div class="position-relative" style="z-index: 2;">
            <h1 class="font-1 fw-bold text-white">Application Completion</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item fw-bold"><a asp-page="/Index">Home</a></li>
                    <li class="breadcrumb-item fw-bold active" aria-current="page">Application Completion</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<style>
    .card {
        margin-top: 20px;
    }

    li {
        padding: 5px;
        margin: 3px;
        font-weight: 900;
    }
</style>
<section class="section">
    <div class="r-container">
         
            <div class="alert alert-success">
                <strong>YOUR APPLICATION WITH ID NUMBER @Model.Application.IdNumber HAS BEEN SUBMITTED.<br />THANK YOU</strong>
            </div>

        
    </div>
</section>