@page
@model ChoosenCareHome.Pages.Data.AppointmentSuccessModel
@{
}
<section class="section position-relative" style="background-image: url(../img/bg123.jpg);">
    <div class="r-container">
        <div class="image-overlay"></div>
        <div class="position-relative" style="z-index: 2;">
            <h1 class="font-1 fw-bold text-white">Book Appointment</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item fw-bold"><a asp-page="/Index">Home</a></li>
                    <li class="breadcrumb-item fw-bold active" aria-current="page">Book Appointment</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<section class="section">
    <div class="r-container">
        <h4>APPOINTMENT BOOKED SUCCESSFULLY</h4>
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</section>