@page
@model ChoosenCareHome.Areas.Admin.Pages.RotaPage.EditModel

 
<h4>Update Rota</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserRota.Id" />
            <div class="form-group">
                <label asp-for="UserRota.Name" class="control-label"></label>
                <input asp-for="UserRota.Name" class="form-control" />
                <span asp-validation-for="UserRota.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRota.PostCode" class="control-label"></label>
                <input asp-for="UserRota.PostCode" class="form-control" />
                <span asp-validation-for="UserRota.PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="./Index">Back to List</a>

            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 