@page
@model ChoosenCareHome.Areas.Admin.Pages.Users.UpdateModel
@{
}

<h4>UPDATE STAFF</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        @if (TempData["success"] != null)
        {
            <div class="alert alert-success">
                <strong>@TempData["success"]</strong>
            </div>

        }
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Profile.Id" type="hidden" />
        <div class="form-group">
            <label asp-for="Profile.Title" class="control-label"></label>
            <input asp-for="Profile.Title" class="form-control" />
            <span asp-validation-for="Profile.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Profile.FirstName" class="control-label"></label>
            <input asp-for="Profile.FirstName" class="form-control" />
            <span asp-validation-for="Profile.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Profile.MiddleName" class="control-label"></label>
            <input asp-for="Profile.MiddleName" class="form-control" />
            <span asp-validation-for="Profile.MiddleName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Profile.Surname" class="control-label"></label>
            <input asp-for="Profile.Surname" class="form-control" />
            <span asp-validation-for="Profile.Surname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Profile.PhoneNumber" class="control-label"></label>
            <input asp-for="Profile.PhoneNumber" class="form-control" />
            <span asp-validation-for="Profile.PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Profile.Address" class="control-label"></label>
            <input asp-for="Profile.Address" class="form-control" />
            <span asp-validation-for="Profile.Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Profile.DOB" class="control-label"></label>
            <input asp-for="Profile.DOB" class="form-control" />
            <span asp-validation-for="Profile.DOB" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Profile.UserStatus" class="control-label"></label>
            @Html.DropDownListFor(model => model.Profile.UserStatus, new SelectList(Enum.GetValues(typeof(ChoosenCareHome.Data.Model.Enum.UserStatus))), new { @class = "form-control" })
            <span asp-validation-for="Profile.UserStatus" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
