@page
@model ChoosenCareHome.Areas.Admin.Pages.MessagesPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Message</h1>

 
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Message.UserId" class="control-label"></label>
                <select asp-for="Message.UserId" class="form-control" asp-items="ViewBag.UserId">
                    <option value="">Choose</option>
                    <option value="All">Send to All</option>
                </select>                <span asp-validation-for="Message.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.Title" class="control-label"></label>
                <input asp-for="Message.Title" class="form-control" />
                <span asp-validation-for="Message.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.Description" class="control-label"></label>
                <textarea asp-for="Message.Description" class="form-control tinymce-editor" ></textarea>
                <span asp-validation-for="Message.Description" class="text-danger"></span>
            </div>
             
            <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="btn btn-warning">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
