@page
@model ChoosenCareHome.Areas.Admin.Pages.Dashboard.IndexModel
@{
}
<div>
    <div class="row">
        <div class="col-md-3 btn btn-primary">
            <h1>@Model.User</h1>
            <h4>Users</h4>
        </div>
        <div class="col-md-3 btn btn-primary">
            <h1>@Model.Application</h1>
            <h4>Applications</h4>
        </div>

        <div class="col-md-3 btn btn-primary">
            <h1>@Model.Appointment</h1>
            <h4>Appointments</h4>
        </div>
    </div>
</div>